<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title">Open Source Ben Jonson</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/']" routerLinkActive="active">
        <span class="nav-text">Bartholomew Fair</span>
      </a>
    </div>
    <div class="header-actions">
        <a href="javascript://" (click)="about.opened=true" class="nav-link nav-icon">
          About
      </a>
    </div>
  </clr-header>
  <router-outlet></router-outlet>
</clr-main-container>
<clr-modal [(clrModalOpen)]="about.opened" [clrModalStaticBackdrop]="true">
  <div class="modal-title">About</div>
  <div class="modal-body">
    <markdown>{{about.content}}</markdown>
  </div>
</clr-modal>
